version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    open-pull-requests-limit: 2
    labels:
      - "dependencies"
      - "automerge"
  
    groups:
      critical-updates:
        patterns:
          - "*"
        update-types:
          - "major"
          - "minor"
        # This ensures security-related updates are prioritized 
        # for these groups where applicable.
